:root{
--White-color: hsl(0, 0%, 100%);
--Light-Grey:hsl(217, 12%, 63%);
--Medium-Grey: hsl(216, 12%, 54%);
--Dark-Blue: hsl(213, 19%, 18%);
--Very-Dark-Blue: hsl(216, 12%, 8%);
--Orange-color: hsl(25, 97%, 53%);
}
body{
    background-color: var(--Very-Dark-Blue);
}

main{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 80px auto;
}

.main-section{
   
    background-color: var(--Dark-Blue);
    width: 412px;
    height: 416px;
    border-radius: 40px;
    padding-top: 20px;
   
}
.star-image{
    background-color: var(--Very-Dark-Blue);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 32px;
}
.star-image img{
    width: 16.75px;
    height: 16px;
}

.context-section h2{
    width: 199px;
    height: 43px;
    color: var(--White-color);
    font-family: 'Overpass', sans-serif;
    font-weight: 700px;
    margin-left: 20px;
}
.context-section p{
    text-align: justify;
    width: 340px;
    height: 72px;
    font-size: 16px;
    line-height: 24px;
    color: var(--Light-Grey);
    margin-left: 32px;
    
}
.btns{
    text-align: center;
   margin-right: 10px;

}
.btns button{
    width: 51px;
    height: 51px;
    background-color: var(--Very-Dark-Blue);
    color: var(--Medium-Grey);
    border-radius: 50%;
    border: none;
    margin-left: 10px;


}
.btns button:hover{
    background-color: var(--Orange-color);
    color: var(--White-color);
    cursor: pointer;
}
.btns button:active{
    background-color: var(--Light-Grey);
    cursor: pointer;
}
.submit-btn{
    margin-top: 40px;
    text-align: center;

}
.submit{
    width: 341px;
    height: 45px;
    border-radius: 40px;
    border: none;
    background-color: var(--Orange-color);
    color: var(--White-color);
    font-size: 1em;
    font-family: 'Overpass', sans-serif;
    text-transform: uppercase;
    font-weight: 500px;
}

.submit:hover{
    background-color: var(--White-color);
    color: var(--Orange-color);
    cursor: pointer;

}
.attribution{
    font-size: 20px;
    color: var(--White-color);
}

